<div class="row py-5">
  <div *ngFor="let certificate of infoService.formation" class="col-xs-12 col-md-6 py-3 d-flex flex-column justify-content-center">
    <h3 class="title align-self-start">{{ certificate.title }}</h3>
    <div class="row container flex-grow-1">
      <div class="col-xs-8 text-center">
        <a target="_blank" href="{{ certificate.url }}"><img class="img-fluid rounded" src="{{ certificate.image }}" width="350"/></a>
      </div>
      <div class="col-xs-4 align-self-end">
        <p>{{ certificate.description }}</p>
      </div>
    </div>
  </div>
</div>