//Custom modifications for dark theme
body[data-theme="dark"] {
  background-color: #231f20;
  color: #ffffff;
  header, .rk-menu__sub, nav{
    background-color: #231f20!important;
    color: white;
  }
}
